In [2]:
print("Hello, world")

Hello, world

In [3]:
print("this is my first python program")

this is my first python program

In [5]:
# My Name is Ajay

'''
Multi Line comment
I am Ajay
Working on improving my skill
Nothing is Impossible
I can do it.
'''

In [7]:
a = 10

In [8]:
a

10

In [9]:
type(a)

int

In [10]:
name = "ajju"

In [11]:
name

'ajju'

In [12]:
type(name)

str

In [13]:
yes = True

In [14]:
type(yes)

bool

In [15]:
print("My name is",name)

My name is ajju

In [16]:
print("My name is "+name)

My name is ajju

In [17]:
print(f"My name is {name}")

My name is ajju

In [18]:
# Don't start variable name with name 
1wrong = 2

SyntaxError: invalid decimal literal (1278859132.py, line 2)

In [19]:
# Don't start variable name with any special symbol except underscore
@name = 'Ajju'

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1969652609.py, line 2)

In [20]:
_to = "hello world"

In [21]:
type(_to)

str

In [22]:
print('hello',_to)

hello hello world

In [23]:
a = 1.6

In [24]:
type(1.6)

float

In [25]:
a = 2.0

In [26]:
type(a)

float

In [27]:
c = False

In [28]:
type(c)

bool

In [29]:
print(True + True + False+ True)

print(False - True + True)

3
0

In [30]:
print(True)

True

In [31]:
print(True * True)

1

In [32]:
print(True * False)

0

In [33]:
# True = 1
# False = 0

In [34]:
print(name.title())

Ajju

In [35]:
True / False

ZeroDivisionError: division by zero

In [36]:
n = 45 + 6j

In [37]:
type(n)

complex

In [38]:
n

(45+6j)

In [39]:
n.real

45.0

In [41]:
n.imag

6.0

In [43]:
num = 50 + 70j

In [44]:
type(num)

complex

In [45]:
n * num

(1830+3450j)

In [46]:
n + num

(95+76j)

In [47]:
1 + "Ajju" # int and str concetation not possible

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [48]:
str(1) + ". Hai"

'1. Hai'

In [49]:
print(str(50)+" - Fifty")

50 - Fifty

In [52]:
type(1 + 1.23)

float

In [51]:
"Hai " * 3

'Hai Hai Hai '

In [53]:
'hai'- 'ha'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [54]:
int("30")

30

In [55]:
int("30abc")

ValueError: invalid literal for int() with base 10: '30abc'

In [56]:
print(input())

Hello, Ajju
Hello, Ajju

In [57]:
print("hello "+input())

github
hello github

In [58]:
a = input("Enter a integer: ")

Enter a integer: 2345

In [59]:
a

'2345'

In [60]:
type(a)

str

In [61]:
# to make a into int while taking input
a = int(input("Enter your favourite number :"))

Enter your favourite number :999

In [62]:
type(a)

int

In [64]:
a = int(input("a:"))
b = int(input("b:"))
c = int(input("c:"))

a:45
b:56
c:34

In [65]:
o = a+b/c
o1 = o + 78 + 6j

In [66]:
type(o1)

complex

In [67]:
print(o1)

(124.64705882352942+6j)

In [69]:
print(o)

46.64705882352941

In [71]:
str(o1) + " Name"

'(124.64705882352942+6j) Name'